<div class="page">
  <page-title [iconTitle]="titlePage.icon" [textTitle]="titlePage.text | translate"></page-title>

  <div class="content-contact">
    <form class="example-form">
      <mat-form-field appearance="outline">
        <mat-label><i class="fas fa-user"></i> {{'name' | translate}}</mat-label>
        <input matInput placeholder="{{'typeYourName' | translate}}" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label><i class="fas fa-envelope"></i> {{'email' | translate}}</mat-label>
        <input matInput placeholder="{{'typeYourEmail' | translate}}" required>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label><i class="fas fa-pen"></i> {{'message' | translate}}</mat-label>
        <textarea matInput placeholder="{{'writeYourMessage' | translate}}" rows="4" required></textarea>
      </mat-form-field>
      <div class="submit">
        <button mat-raised-button (click)="errorForm()">{{'submit' | translate}}</button>
      </div>
    </form>

    <div class="contact-data">
      <ul>
        <li *ngFor="let data of personalData">
             <a href="{{data.url}}" target="_blank" mat-fab color="primary"  matTooltip="{{data.tooltip}}" matTooltipPosition="right" matTooltipClass="{{data.classTooltip}}">
              <i class="{{data.icon}}"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="download">
    <a href="../../../assets/docs/cv.pdf" target="_blank" mat-fab color="primary" matTooltip="Descargar CV" matTooltipPosition="below" matTooltipClass="tooltip-xl">
      <i class="fas fa-download"></i>
    </a>
  </div>
</div>
