.page {
  padding: 2rem 2.5rem;
  width: auto;
  min-height: 100vh;
  border-top: 1px solid #eee;
  
}

.first-page {
  .page {
    border-top: 0;
  }
}

@media(max-width: 1200px) { 
  .page {
    min-height: auto;
    padding: 1rem 2rem;
  }
}