// Colores
$firstColor: #9e625f;
$secondColor: #212426;
$thirdColor: #868e96;

$menuWidth: 17rem;

%transition-app {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}