
<div class="layout">
  <ul class="menu">
    <li>
      <a class="photo menu-xl" pageScroll href="#landing">
        <img src="../assets/images/foto-cv.jpg" alt="Foto Miguel Baumann">
      </a>
      <a class="photo menu-xs" [matMenuTriggerFor]="menu">
        <img src="../assets/images/foto-cv.jpg" alt="Foto Miguel Baumann">
      </a>
    </li>
    <li *ngFor="let item of options">
      <a class="links" pageScroll href="#{{item.href}}">
        <i class="{{item.icon}}"></i> 
        <span>{{item.title | translate}}</span>
      </a>
    </li>
  </ul>



  <landing-page id="landing" class="first-page"></landing-page>
  <profile-page id="profile"></profile-page>
  <experience-page id="experience"></experience-page>
  <education-page id="education"></education-page>
  <skills-page id="skills"></skills-page>
  <contact-page id="contact"></contact-page>


  <div class="download">
    <a href="../../../assets/docs/cv_jun_2021.pdf" target="_blank" mat-fab color="primary" matTooltip="{{'downloadCV' | translate}}" matTooltipPosition="below" matTooltipClass="tooltip-xl">
      <i class="fas fa-download"></i>
    </a>
  </div>

</div>


<mat-menu #menu="matMenu">
  <a mat-menu-item *ngFor="let item of options" pageScroll href="#{{item.href}}">
    <i class="{{item.icon}}"></i> 
    <span>{{item.title}}</span>
  </a>
</mat-menu>