
<div class="page">
  <div class="languages">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="useLanguage('es')"><img src="/assets/images/spain.svg"></mat-button-toggle>
      <mat-button-toggle (click)="useLanguage('en')"><img src="/assets/images/uk.svg"></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="content-landing">
    <h1>
      <span class="name">{{author.name}}</span>
      <span class="surname">{{author.surname}}</span>
    </h1>
    <div class="features">
      <ul>
        <li *ngFor="let feature of features">
          {{ feature | translate }}
         <i class="fas fa-code"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

