
<div class="page">
  <div class="languages">
    <a (click)="useLanguage('es')"><img src="/assets/images/spain.svg"></a>
    <a (click)="useLanguage('en')"><img src="/assets/images/uk.svg"></a>
  </div>

  <div class="content-landing">
    <h1>
      <span class="name">{{author.name}}</span>
      <span class="surname">{{author.surname}}</span>
    </h1>
    <div class="features">
      <ul>
        <li *ngFor="let feature of features">
          {{ feature | translate }}
         <i class="fas fa-code"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

