<div class="page">
  <page-title [iconTitle]="titlePage.icon" [textTitle]="titlePage.text | translate"></page-title>

  <h2 class="subtitle">Lenguajes y programas</h2>

  <div class="programming">
    <div class="block">
      <span>Hola</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="block">
      <span>Hola</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="block">
      <span>Hola</span><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>





</div>
