<div class="page">
  <page-title [iconTitle]="titlePage.icon" [textTitle]="titlePage.text | translate"></page-title>

  <h2 class="subtitle">Lenguajes y programas</h2>

  <div class="programming">
    <div class="block" *ngFor="let skill of skills">
      <img src="../../../assets/images/icons/{{skill.icon}}" alt="{{'icon' | translate}} {{skill.text}}">
      <span>{{skill.text}}</span>
      <mat-progress-bar mode="determinate" value="{{skill.percentage}}"></mat-progress-bar>
    </div>
  </div>

  <h2 class="subtitle">{{'knowledges' | translate}}</h2>
    <ul class="knowledges">
      <li *ngFor="let knowledge of knowledges">{{knowledge | translate}}</li>
    </ul>

  <h2 class="subtitle">{{'capabilities' | translate}}</h2>
  <ul class="knowledges">
    <li *ngFor="let capability of capabilities">{{capability | translate}}</li>
  </ul>

</div>
