html, body {
  margin: 0; 
  font-size: 16px;
  color: #121212;
  
}

body {
  height: 100%; 
  overflow: auto;
  min-width: auto !important;
  padding-left: 17rem;
  font-family: 'Raleway', sans-serif;;
}

.page {
  padding: 20px 50px;
  background-color: #eee;
  border: 1px solid green;
  width: auto;
  min-height: 100vh;
}



