@import './app/scss/variables.scss';
@import './app/scss/pages.scss';

html, body {
  margin: 0; 
  font-size: 16px;
  color: $secondColor;
  
}

body {
  height: 100%; 
  overflow: auto;
  min-width: auto;
  padding-left: calc(#{$menuWidth} + 2rem);
  font-family: 'Raleway', sans-serif;;
}





